<form [formGroup]="form" (submit)="onSubmit()"  novalidate>
  <div class="form-group">
    <input formControlName="title"
           type="text"
           class="form-control"
           automation-id="title-control"
           required minlength="3"
           required maxlength="80"
           placeholder="Название">
    <div automation-id="title-error" class = "invalid-feedback">
      {{formErrors.title}}
      </div>
    </div>
  <div class="form-group">
    <input formControlName="price"
           type="text"
           class="form-control"
           automation-id="price-control"
           placeholder="Стоимость">
    <div automation-id="price-error" class = "invalid-feedback">
      {{formErrors.price.replace('undefined', '')}}
    </div>
  </div>
  <div class="form-group">
    <input formControlName="date"
           type="text"
           class="form-control"
           automation-id="date-control"
           placeholder="Дата">
  </div>
  <div class="form-group">
    <textarea formControlName="comment"
           type="text"
           class="form-control"
           automation-id="">
    </textarea>
  </div>
  <div class="form-group">
    <button type="submit"
            [disabled]="form.pristine || form.invalid"
            automation-id="submit"
            class="btn btn-success btn-block">
      Готово
    </button>
  </div>
</form>
